<%- include("./header.ejs") %>
    <%- include("./sidebar.ejs") %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2 mt-1 text-center">

                        <h1 class="m-0">Dashboard</h1>

                    </div><!-- /.row -->

                    <div class="row">



                    </div><!-- /.container-fluid -->
                </div>
            </div>
            <!-- /.content-header -->
        </div>
        <!-- /.content-wrapper -->

        <%- include("./footer.ejs") %>