* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.studentnavbar {
  background: rgb(23, 23, 219);
  height: 50px;
  color: pink;
  font-weight: 700;
}
.rowone{
  background: #fff;
  height: 100vh;
  margin-left: 40px;
}
.rowone img{
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 40px;



}
.rowsecond{
  background: rgb(229, 221, 221);
  height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
